## Deliverable 3. Create a Travel Itinerary Map.

In [10]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [29]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head(10)

,Unnamed: 0,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Weather description,Hotel Name
0,0,0,Bathsheba,13.2167,-59.5167,81.21,78,40,13.80,BB,2021-11-28 05:36:55,scattered clouds,Atlantis Hotel
1,4,4,Hermanus,-34.4187,19.2345,65.25,88,96,12.55,ZA,2021-11-28 05:36:57,overcast clouds,Misty Waves Boutique Hotel
2,5,5,Busselton,-33.6500,115.3333,83.50,38,76,14.32,AU,2021-11-28 05:36:57,broken clouds,Observatory Guest House
3,7,7,Labuhan,-6.8844,112.2051,80.76,73,100,5.79,ID,2021-11-28 05:36:58,light rain,PT PPI Lamongan Tambak C
4,9,9,Vaini,-21.2000,-175.2000,80.76,89,75,10.36,TO,2021-11-28 05:36:58,light rain,Keleti Beach Resort
5,10,10,Butaritari,3.0707,172.7902,82.31,74,76,16.67,KI,2021-11-28 05:36:59,broken clouds,Isles Sunset Lodge
6,13,13,Saint-Philippe,-21.3585,55.7679,81.95,81,93,3.42,RE,2021-11-28 05:37:00,light rain,"Chambres d'hôte ""La Trinité"""
7,14,14,Sao Filipe,14.8961,-24.4956,76.39,73,85,9.69,CV,2021-11-28 05:34:16,overcast clouds,Hotel Xaguate
8,16,16,Hithadhoo,-0.6000,73.0833,82.02,72,100,17.92,MV,2021-11-28 05:37:01,overcast clouds,Scoop Guest House
9,19,19,Bredasdorp,-34.5322,20.0403,67.82,76,90,16.40,ZA,2021-11-28 05:34:14,overcast clouds,Bredasdorp Country Manor

In [44]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Weather description</dt><dd>{Weather description} </dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [45]:
# 4a. Add a marker layer for each city to the map.

max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)


# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [46]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City']=="Cartagena"]
vacation_end = vacation_df.loc[vacation_df['City']=="Cartagena"]

vacation_stop1 = vacation_df.loc[vacation_df['City']=="San Cristobal"]
vacation_stop2 = vacation_df.loc[vacation_df['City']=="Puerto Asis"] 
vacation_stop3 = vacation_df.loc[vacation_df['City']=="Tumaco"]

In [55]:
vacation_start

,Unnamed: 0,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Weather description,Hotel Name
245,491,491,Cartagena,10.3997,-75.5144,78.42,94,0,3.44,CO,2021-11-28 05:49:47,clear sky,Hotel Colombia Real - Cartagena

In [56]:
vacation_stop1

,Unnamed: 0,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Weather description,Hotel Name
75,158,158,San Cristobal,7.7669,-72.225,68.18,89,25,1.14,VE,2021-11-28 05:38:23,scattered clouds,Posada Villaven C.A.

In [57]:
vacation_stop2

,Unnamed: 0,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Weather description,Hotel Name
146,314,314,Puerto Asis,0.5133,-76.5007,70.97,96,87,0.98,CO,2021-11-28 05:44:44,overcast clouds,Ayawaska Hostal

In [58]:
vacation_stop3

,Unnamed: 0,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Weather description,Hotel Name
143,310,310,Tumaco,1.7986,-78.8156,75.47,90,97,6.02,CO,2021-11-28 05:44:42,light rain,Dafneruben

In [47]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]

stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

print(f'Start: {start}, End: {end}')
print(f'Stop 1: {stop1}, Stop 2: {stop2}, Stop 3: {stop3}')

Start: (10.3997, -75.5144), End: (10.3997, -75.5144)
Stop 1: (7.7669, -72.225), Stop 2: (0.5133, -76.5007), Stop 3: (1.7986, -78.8156)

In [48]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
city_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2,stop3 ],
        travel_mode='DRIVING')

fig.add_layer(city_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [49]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1 ,vacation_stop2 ,vacation_stop3],ignore_index=True)
itinerary_df

,Unnamed: 0,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Weather description,Hotel Name
0,491,491,Cartagena,10.3997,-75.5144,78.42,94,0,3.44,CO,2021-11-28 05:49:47,clear sky,Hotel Colombia Real - Cartagena
1,158,158,San Cristobal,7.7669,-72.2250,68.18,89,25,1.14,VE,2021-11-28 05:38:23,scattered clouds,Posada Villaven C.A.
2,314,314,Puerto Asis,0.5133,-76.5007,70.97,96,87,0.98,CO,2021-11-28 05:44:44,overcast clouds,Ayawaska Hostal
3,310,310,Tumaco,1.7986,-78.8156,75.47,90,97,6.02,CO,2021-11-28 05:44:42,light rain,Dafneruben

In [52]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Weather description</dt><dd>{Weather description} </dd>
</dl>
"""


# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [53]:
# 11a. Add a marker layer for each city to the map.

max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)


# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

,Unnamed: 0,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Weather description,Hotel Name
245,491,491,Cartagena,10.3997,-75.5144,78.42,94,0,3.44,CO,2021-11-28 05:49:47,clear sky,Hotel Colombia Real - Cartagena